
.facebook-brand-color {
    color: #3b5998;
}

.twitter-brand-color {
    color: #55ACEE;
}

.googleplus-brand-color {
    color: #DD4B39;
}

.appear-on-hover {
    opacity: 0.1;
}

.appear-on-hover:hover {
    opacity: 1.0;
}